.carousel-content{
  text-shadow: 1px 1px 1px #000;
}

.carousel-content h3{
  color: #fff;
}

.pp_default{
  background: white;
}

/* For the tagline in index */
#tagline{
  color: #FFE328;
  text-shadow: 2px 2px 3px #000;
}

/* For the team page*/
.admin{
  color: #000;
}

.team-head{
  margin-top: 100px;
  margin-bottom: 100px;
}

.team-row{
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-shadow{
  box-shadow: 5px 5px 4px #888888;
}

.instagram_scroller {
    width: 100%;
    height: 210px;
    position: relative;
    margin-top: 70px
}
.instagram_scroller .simply-scroll-clip {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden
}
#instafeed {
    height: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    position: relative
}
#instafeed a {
    margin-right: 30px;
    vertical-align: top;
    display: block;
    width: 170px;
    height: 210px;
    float: left
}
#instafeed a:hover img {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}
#instafeed img {
    width: 170px;
    height: 170px;
    display: block;
    margin-top: 20px;
    border-radius: 4px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
@media screen and (max-width: 420px) {
    .chemecarlogo {
      visibility: hidden;
      display: none;
    }
    .instagram_scroller {
        height: 170px;
        margin-top: 40px
    }
    .instagram_scroller .simply-scroll-clip {
        height: 170px
    }
    #instafeed {
        height: 210px
    }
    #instafeed a {
        width: 130px;
        height: 170px
    }
    #instafeed img {
        width: 130px;
        height: 130px
    }
}