/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#post-content > p{
	font-size: 16px;
  line-height: 30px;
}

#post-content > h2{
  line-height: 60px;
}
