.head-text{
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo img{
  vertical-align: center;
  max-width: 300px;
  max-height: 100px;
}