/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html,
button,
input,
select,
textarea {
    color: #222;
    overflow-x: hidden !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top !important;
}
.col-middle {
  vertical-align: middle !important;
}
.col-bottom {
  vertical-align: bottom !important;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
  text-align: center
}


/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* ==========================================================================
   MENU CONFIGURATION
   ========================================================================== */
.navbar.navbar-fixed-top{
    background: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  }

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
  }

.navbar-default .navbar-brand {
  color: white;
}  

.dropdown-menu {
  background: rgba(0, 0, 0, 0.9);
  font-size: 16px;
}

.dropdown-menu > li > a {
  color: white;  
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
.history p{
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: .01em;
} 

.history h1{
  margin-top: 80px;
}

.history i{
  color: #9d9d9d !important;
}

.history img{
  margin-top: 60px;
  margin-bottom: 60px;
}

.headerwrap2 {
  background: url(../img/ubc/back2.jpg) !important;
}
.headerwrap3 {
  background: url(../img/ubc/back3.jpg)!important;
}
.headerwrap4 {
  background: url(../img/ubc/sep-3.jpg) !important;
}
.headerwrap5 {
  background: url(../img/ubc/bg1.jpg)!important;
}
.headerwrap6 {
  background: url(../img/ubc/bg2.jpg) !important;
}
.headerwrap7 {
  background:     
  linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.7)
    ),
  url(../img/ubc/bg3.jpg) !important;
}

.contacthead a{
  color: white !important;
}

.contacthead h1{
  margin-top: 15% !important;
}

.contact-desc {
  color: #aaa;
}

#headerwrap {
  background: url(../img/ubc/back.jpg);
  margin-top: 0px;
  padding-top:80px;
  min-height: 100%;
  width: 100%;
  overflow: hidden !important;
  
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  color:#ffffff;
  margin-top: 30%;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

#headerwrap img {
  -webkit-filter: drop-shadow(2px 2px 2px #000);
  filter:         drop-shadow(2px 2px 2px #000);
}

#chemecarlogo {
  position:absolute;
  width: 80%;
  overflow: hidden !important;
  left: 20%;
  bottom: 5%;
  -webkit-filter: drop-shadow(2px 2px 2px #000);
  filter:         drop-shadow(2px 2px 2px #000);
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */    
}

#joinwrap {
  background: url(../img/join.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  width: 100%;  
}

.join-logo {
  margin-top: 100px;
  width: 40%;
}

.btn-join {
  background-color: #9DB446;
  color: white;
}

.btn-join:hover {
  background-color: #7F952E;
  color: white;
  font-weight: bold;
}

#joinwrap h1 {
  color:#ffffff;
  margin-top: 5px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000;
}

#joinwrap h3 {
  color:#ffffff;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000;
}


.introwrap-bg {
  background-color: #000;
}

.aichewrap-bg {
  background-color: #eee;
}

.intro-text-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;  
}

.aiche-text-container {
  padding-left: 10px;
  padding-right: 10px; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.aiche-text-container h1 {
  color: #293377 !important;
  text-shadow: none !important;
}


.aiche-text-container h3 {
  color: #293377 !important;
  text-shadow: none !important;
}

.vcenter {
  position: absolute;
  top: 50%;
}

#introwrap h1 {
  color:#ffffff;
  margin-top: 40px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  vertical-align: middle;
  display: inline-block;  
}

#introwrap h2 {
  color:#ffffff;
  margin-top: 10px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 30px; nav
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  vertical-align: middle;
  display: inline-block;  
}

#introwrap h3 {
  color:#ffffff;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000;
  vertical-align: middle;
  display: inline-block;  
}

.navbar-brand {
  padding: 5px 5px !important;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white !important;
  }
}

#brandlogo {
  height: 100%;
}

#headerwrap h2 {
  color:#ffffff;
  margin-top: 10px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

#headerwrap h3 {
  color:#ffffff;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000;
}

/* About Wrap & Conf */
#aboutwrap {
  margin-top: 80px;
  margin-bottom: 80px;
}

.name {
  text-align: center;
}
.name p {
  font-size: 22px;
  font-weight: lighter;
  margin-top: 15px;
  letter-spacing: 2px;
}

.name-label {
  width: 60px;
  height: 60px;
  margin: 0 auto 45px;
  border-top: 1px solid #000;
  background: url(../img/name-label.png) center bottom no-repeat;
  background-size: 35px 35px;
}

.name-zig {
  width: 73px;
  height: 17px;
  margin: 38px 0 38px;
  background: url(../img/name-zig.png) 0 0 no-repeat;
  background-size: 73px 17px;
}

.name-desc h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 1.45;
  font-weight: 300;
}

/* Separator About - Parallax Section */
.sep {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.about {
  background-image: url(../img/sep-1.jpg);
}
.testimonials {
  background-image: url(../img/sep-4.jpg);
}


/* Portfolio Wrap Section */
#portfoliowrap {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
}

#portfoliowrap h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
.mt {
  margin-top: 50px;
}

.award-numbers {
  font-size: 50px;
  font-weight: bold;
}
.mb {
  margin-bottom: 60px;
}

#portfoliowrap i {
  font-size: 50px;
}

#fundingwrap i {
  font-size: 50px;
}

#aichewrap i {
  font-size: 50px;
}

.smaller-fa {
  font-size: 20px !important;
}

#servicewrap i {
  font-size: 50px;
}


.proc {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px transparent;
  text-align: center;
}

#servicewrap .proc:hover {
  background-color: #eee;
  border-bottom: solid 1px #2f2f2f
}

#testimonials .proc:hover {
  background-color: #eee; 
}

.portfolio {
  background-image: url(../img/sep-2.jpg);
}

/* Service Wrap */
#servicewrap {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
}

#servicewrap h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.service {
  text-align: left;
}

.service small {
  font-size: 12px;
  font-weight: bold
}

.service i {
  float: left;
  margin-right: 15px;
  font-size: 30px;
  vertical-align: middle;
}

.service .text {
  color: #767676
}

.hidden-team-header i{
  float: left;
  margin-right: 15px;
}

/* Testimonials Wrap */
#testimonials {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #ffffff;
}

.carousel-indicators .active {
  background-color: #c3c3c3 !important;
  width: 12px;
  height: 12px;  
}

.carousel-indicators li{
  border: 1px solid #dfdfdf;
  width: 12px;
  height: 12px;
}


/*
#team-4 {
  background-color: #dfdfdf;
}
#team-1 {
  background-color: #efefef;
}
#team-2{
  background-color: #f3f3f3;
}
#team-3{
  background-color: #f3f3f3;
}*/
/* Members Wrap */
#prospective {
  background-color: #ffffff;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Contact Wrap */
#contactwrap {
  background-color: #2f2f2f;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#contactwrap p {
  color: #f2f2f2;
}

#contactwrap small {
  font-size: 13px;
}

.contact {
  background-image: url(../img/sep-3.jpg);
}

#contactwrap label {
  color: #f2f2f2;
  margin-top: 10px;
}

.img-circle {
  transition: all .2s ease-in-out;
}

.img-circle:hover {
  transform: scale(1.10);
}

/* Gallery Configuration */
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.project .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  
}

.project:hover .photo-wrapper {
  background-color: #2f2f2f;
  background-image:url(../img/zoom.png);
  background-repeat:no-repeat;
  background-position:center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}
.project:hover .photo {
  opacity: 10;
  filter: alpha(opacity=4000);
  opacity: 0.1;
  filter: alpha(opacity=40);
}
.project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.desc {
  margin-top: 25px;
}

.footer-line h1 {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
}

.footer-line h2 {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  color: #eeeeee;
}

.footer-line h3 {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 20px;
  margin-top: 5px;
  color: #eeeeee;
  text-transform: uppercase;
}

/*#hidden-team-1,
#hidden-team-2,
#hidden-team-3,
#hidden-team-4,
#hidden-team-5,
#hidden-team-6 {
  display: none;
}*/

#team-1:hover,
#team-2:hover,
#team-3:hover,
#team-4:hover,
#team-5:hover,
#team-6:hover {
  cursor: pointer;
}

.mouse-hover:hover {
  cursor: pointer;
}

/*.hidden-team {
  background-color: #fafafa;
}

.hidden-team .hidden-team-inner:nth-child(1){
  background-color: #f3f3f3;
}

.hidden-team .hidden-team-inner:nth-child(4){
  background-color: #f3f3f3;
}

.hidden-team .hidden-team-inner:nth-child(5){
  background-color: #f3f3f3;
}

.hidden-team .hidden-team-inner:nth-child(8){
  background-color: #f3f3f3;
}

.hidden-team .hidden-team-inner:nth-child(2){
  background-color: #f6f6f6;
}

.hidden-team .hidden-team-inner:nth-child(3){
  background-color: #f6f6f6;
}

.hidden-team .hidden-team-inner:nth-child(6){
  background-color: #f6f6f6;
}

.hidden-team .hidden-team-inner:nth-child(7){
  background-color: #f6f6f6;
}

.hidden-team-inner .a {
  text-align:right;
}*/

.proc-team-6:hover {
  background-color: #eee;
  border-bottom: solid 2px #2f2f2f
}

#homenav li{
display: inline-block;
list-style-type: none;
padding-right: 20px;
width: 10%;
}

.teams.darker{
  background-color: #fafafa;
}

.panel-title {
  font-size: 20px;
}

.img-margins {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

.ig-walden {
  -webkit-filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
  filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
}

.ig-nashville {
  -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
  filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
}

.ig-hudson {
  -webkit-filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
  filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
}

.ig-sutro {
  -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
  filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
}

.ig-brannan {
  -webkit-filter: sepia(0.4) contrast(0.9) hue-rotate(30deg);
  filter: sepia(0.4) contrast(0.9) hue-rotate(30deg);
}

#contact ul{
  padding-left: 0px;
  margin-bottom: 50px;
}

#contact p{
  font-size: 14px;
  color: #aaa;
}

#contact h3{
  color: white;
}

#contact h3 small{
  color: #aaa;
}

#contact p a {
  padding-right: 10px;
}

#contact p a i:hover {
  color: #ccc !important;
}


#contact li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#contact li a
{
  color: white;
  font-size: 12px;
  font-weight: normal;
}

textarea
{
    width:100%;
    height: 200px;
}
