.img-circle{
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}

.img-circle:hover {
  padding: 4px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border-style: solid;
  border-width: medium;
  border-color: #0000b3;
}

h3 {
  color: #0000b3;
  font-weight: 400;
}