body{
  line-height: 180%;
}

#captainmessage{
  margin-top: 80px;
}

.admin {
  font-weight: 500;
  color: #001224;
}

.img-circle{
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.img-logo {
  width: 30%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);  
  position: relative;
  top: 0%;
  transform: translateY(40%);  
}
.img-circle:hover {
  padding: 4px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border-style: solid;
  border-width: medium;
  border-color: #003467;
}

h3 {
  color: #003467;
  font-weight: 400;
}
